.double-histogram {
  text-align: justify;
   display: block;
    margin: auto; 
    /* border: 1px solid; */
  }
  
  .app-container {
    text-align: center;
    /* padding: 10px;
    border: 1px solid; */
  }